@model RadniNalog.ViewModels.RNalogViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrapprint.css" rel="stylesheet" />
    <link href="~/css/RNGEN.css" rel="stylesheet" />
    <title>RNGen</title>
</head>
<body>

    <div class="container-fluid">

        <div class="row headerhold">

            <div class="col-xs-1 imghold">

                <img class="img-thumbnail imgst" src="~/images/hep.png" />


            </div>
            <div class="col-xs-6 prvi">

                <p>HEP Operator distribucijskog sustava d.o.o.</p>
                <p>Sektor za vođenje sustava</p>
                <p><span>Pogon/Služba:</span> &nbsp;<span>Za PSTK</span></p>
                <p><span>Odjel/Ured:</span>   &nbsp;<span>Za PSTK Jug</span></p>

                @*<ul class="list-group mylist">
                    <li class="list-group-item"><p>HEP Operator distribucijskog sustava d.o.o.</p></li>
                    <li class="list-group-item"><p>Sektor za vođenje sustava</p></li>
                    <li class="list-group-item">  <p><span>Pogon/Služba:</span> &nbsp;<span>Za PSTK</span></p></li>
                    <li class="list-group-item">  <p><span>Odjel/Ured:</span>   &nbsp;<span>Za PSTK Jug</span></p></li>

                </ul>*@

            </div>

            <div class="col-xs-5">


                @*<ul class="list-group mylist">
                    <li class="list-group-item"><p>Obrazac br.4</p></li>
                    <li class="list-group-item"> <p><span>Datum:</span> &nbsp;<span>Za PSTK</span></p></li>
                    <li class="list-group-item"><p><span>Aktivnost:</span> &nbsp;<span>12853</span></p></li>
                </ul>*@

                <p>Obrazac br.4</p>
                <p><span>Datum:</span> &nbsp;<span>@DateTime.Parse(@Model.Datum).ToShortDateString()</span></p>
                <p><span>Aktivnost:</span>   &nbsp;<span>@Model.VrstaRada.Sifra</span></p>


            </div>


        </div>

        <div class="row main">

            <div class="col-xs-12">

                <h2 class="text-center">Nalog za rad br.@Model.ID </h2>&nbsp;&nbsp;

                @*<ul class="list-group mylist">
                                        <li class="list-group-item"><p><span class="textbold2">Naziv postrojenja:</span> &nbsp;<span>12853</span></p></li>
                                        <li class="list-group-item"> <p><span class="textbold2">Mjesto Rada:</span> &nbsp;<span>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing</span></p></li>
                                        <li class="list-group-item"><p><span class="textbold2">Opis Radova:</span> &nbsp;<span>12853</span></p></li>
                                        <li class="list-group-item"><p><span class="textbold2">Rad je vezan uz (org. jedinice/tvrtke):</span> &nbsp;<span>12853</span></p></li>
                                        <li class="list-group-item"><p><span class="textbold2">Prilog:</span> &nbsp;<span>12853</span></p></li>
                                        <li class="list-group-item"><p><span class="textbold2">Napomena:</span> &nbsp;<span>12853</span></p></li>
                                        <li class="list-group-item"><p><span class="textbold2">Planirani pocetak radova dana:</span> &nbsp;<span>21.12.2012</span>&nbsp;&nbsp;<span>u</span>&nbsp;&nbsp;<span>10.00</span></p></li>
                                        <li class="list-group-item"><p><span class="textbold2">Planirani pocetak radova dana:</span> &nbsp;<span>21.12.2012</span>&nbsp;&nbsp;<span>u</span>&nbsp;&nbsp;<span>10.00</span></p></li>
                                        <li class="list-group-item"><p><span class="textbold2">Rukovoditelj radova:</span> &nbsp;<span>12853</span></p></li>
                                        <li class="list-group-item"><p><span class="textbold2">Ostali izvrsitelji:</span> &nbsp;<span>12853</span></p></li>

                                        <li class="list-group-item"><p>
                    <span class="textbold2">Kategorija rada:</span> &nbsp;
                    <span>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            -rad u beznaponskom stanju
                        </label>
                    </span>&nbsp;
                    <span>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            -rad u blizini napona
                        </label>
                    </span>
                </p>
                                        </li>
                                    </ul>*@


                <p><span class="textbold2">Naziv postrojenja:</span> &nbsp;<span class="signature">@Model.MjestoRada.Ime</span></p>
                <p><span class="textbold2">Mjesto Rada:</span> &nbsp;<span>@Model.LokacijaRada</span></p>
                <p><span class="textbold2">Opis Radova:</span> &nbsp;<span>@Model.VrstaRada.Naziv</span></p>
                <p><span class="textbold2">Rad je vezan uz (org. jedinice/tvrtke):</span> &nbsp;<span>@Model.RadVezanUZ</span></p>
                <p><span class="textbold2">Prilog:</span> &nbsp;<span>@Model.Prilog</span></p>
                <p><span class="textbold2">Napomena:</span> &nbsp;<span>@Model.Napomena</span></p>
                <p><span class="textbold2">Veza: Radni zadatak broj</span> &nbsp;<span>@Model.RadniZadatakBroj</span></p>
                <p><span class="textbold2">Planirani pocetak radova dana:</span> &nbsp;<span class="signature">@DateTime.Parse(@Model.PocetakRadova).ToShortDateString()</span>&nbsp;&nbsp;<span>u</span>&nbsp;&nbsp;<span>@DateTime.Parse(@Model.PocetakRadova).Hour</span>&nbsp;<span>sati</span></p>
                <p><span class="textbold2">Planirani pocetak radova dana:</span> &nbsp;<span class="signature">@DateTime.Parse(@Model.KrajRadova).ToShortDateString()</span>&nbsp;&nbsp;<span>u</span>&nbsp;&nbsp;<span>@DateTime.Parse(@Model.KrajRadova).Hour</span>&nbsp;<span>sati</span></p>
                <p><span class="textbold2">Za rukovoditelj radova odredujem:</span> &nbsp;<span>@Model.Rukovoditelj.Ime</span></p>
                <p><span class="textbold2">Ostali izvrsitelji:</span> &nbsp;<span>@Model.Izvrsitelj2.Ime</span><span>,</span><span>@Model.Izvrsitelj3.Ime</span></p>

                <p>
                    <span class="textbold2">Kategorija rada:</span> &nbsp;
                    <span>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked="@Model.KategorijaRada.BeznaponskoStanje">
                        <label class="form-check-label" for="defaultCheck1">
                            -rad u beznaponskom stanju
                        </label>
                    </span>&nbsp;
                    <span>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked="@Model.KategorijaRada.BlizinaNapona">
                        <label class="form-check-label" for="defaultCheck1">
                            -rad u blizini napona
                        </label>
                    </span>
                </p>

                <p>
                    <span class="textbold2">Vrsta rada:</span> &nbsp;
                    <span>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked="@Model.TipRada.Planirani">
                        <label class="form-check-label" for="defaultCheck1">
                            -planirani
                        </label>
                    </span>&nbsp;
                    <span>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked="@Model.TipRada.Neplanirani">
                        <label class="form-check-label" for="defaultCheck1">
                            -neplanirani
                        </label>
                    </span>&nbsp;

                    <span>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked="@Model.TipRada.Slozeni">
                        <label class="form-check-label" for="defaultCheck1">
                            -složeni
                        </label>
                    </span>&nbsp;

                    <span>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked="@Model.TipRada.Posebni">
                        <label class="form-check-label" for="defaultCheck1">
                            -posebni/mjerenja i ispitivanja
                        </label>
                    </span>&nbsp;

                </p>

                <p>
                    <span class="textbold2">Zaposlenici:</span> &nbsp;
                    <span>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked="@Model.ObukaZaposlenika.Strucni">
                        <label class="form-check-label" for="defaultCheck1">
                            -stručni
                        </label>
                    </span>&nbsp;
                    <span>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked="@Model.ObukaZaposlenika.Poduceni">
                        <label class="form-check-label" for="defaultCheck1">
                            -podučeni
                        </label>
                    </span>&nbsp;

                    <span>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked="@Model.ObukaZaposlenika.Nepoduceni">
                        <label class="form-check-label" for="defaultCheck1">
                            -nepodučeni
                        </label>
                    </span>&nbsp;

                    <span>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked="@Model.ObukaZaposlenika.Pripravnici">
                        <label class="form-check-label" for="defaultCheck1">
                            -pripravnici/vježbenici
                        </label>
                    </span>&nbsp;

                </p>

                <p>
                    <span class="textbold2">Osiguranje mjesta rada:</span> &nbsp;
                    <span>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked="@Model.OsiguranjeMjestaRada.VN">
                        <label class="form-check-label" for="defaultCheck1">
                            -na VN
                        </label>
                    </span>&nbsp;
                    <span>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked="@Model.OsiguranjeMjestaRada.SN">
                        <label class="form-check-label" for="defaultCheck1">
                            -na NN
                        </label>
                    </span>
                </p>

                <p>
                    <span class="textbold2">Isprave za rad:</span> &nbsp;
                    <span>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked="@Model.IspraveZaRad.DopusnicaZaRad">
                        <label class="form-check-label" for="defaultCheck1">
                            -Dopusnica za rad
                        </label>
                    </span>&nbsp;
                    <span>
                        <input class="form-check-input" type="checkbox" value="true" id="defaultCheck1" checked="@Model.IspraveZaRad.DopusnicaIskljucenjeRad">
                        <label class="form-check-label" for="defaultCheck1">
                            -Dopusnica za iskljucenje i rad
                        </label>
                    </span>&nbsp;

                    <span>
                        <input class="form-check-input" type="checkbox" value="true" id="defaultCheck1" checked="@Model.IspraveZaRad.IzjavaRukovoditelja">
                        <label class="form-check-label" for="defaultCheck1">
                            -Izjava rukovoditelja
                        </label>
                    </span>&nbsp;


                </p>

                <p>
                    <span class="textbold2">Nadzor zaposlenika:</span> &nbsp;
                    <span>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked="@Model.NadzorZaposlenika.Trajni">
                        <label class="form-check-label" for="defaultCheck1">
                            -trajni
                        </label>
                    </span>&nbsp;
                    <span>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked="@Model.NadzorZaposlenika.Povremeni">
                        <label class="form-check-label" for="defaultCheck1">
                            -povremeni
                        </label>
                    </span>&nbsp;

                    <span class="textbold2">Nadzorna osoba:</span> &nbsp;<span><input type="text" class="signature" /></span>

                </p>






                <p><span class="textbold2">Nalog za rad izdao (organizator rada):</span> &nbsp;<span><input type="text" class="signature" /></span></p>

            </div>


        </div>

        <div class="row main addp">

            <div class="col-xs-12"></div>


            <p>Izjavljujem da mi je Nalog za rad razumljiv, da ću se pridržavati:</p>

            <i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;<span>Pravilnika o zaštiti na radu,</span></br>
            <i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;<span>Pravila i mjera sigurnosti pri radu na elektrodistribucijskim postrojenjima,</span></br>
            <i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;<span>posebnih pravila zaštite na radu i uputa za siguran rad,</span></br>
            <i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;<span>da ću prije početka radova odrediti dopuštenu zonu kretanja i poduzeti potrebne zaštitne mjere na mjestu isključenja i na mjestu rada,</span></br>
            <i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;<span>da ću sve izvršitelje upozoriti na: dopuštenu zonu kretanja, najbliže dijelove postrojenja koji su pod naponom i na ostale opasnosti, te da ću nadzirati njihov rad,</span></br>
            <i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;<span>da ću koristiti odgovarajući alat, osobna zaštitna sredstva i zaštitnu opremu te upotrebljavati sigurnosne znakove</span>

        </div>

        <div class="row main">

            <div class="col-xs-12">

                <p><span class="textbold2">Nalog za rad primio:</span> &nbsp;<span> <input type="text" class="signature" /></span></p>



            </div>


        </div>

        <br><br><br>  <br><br><br> <br>

        <!--Pocetak kreiranja izvjestaja-->
        <h3 class="text-center">IZVJEŠĆE O PROVEDBI NALOGA ZA RAD</h3>
        <div class="row main addp testunder">

            <p><span class="textbold2">Opis izvedenih radova:</span> </p>
            <p>@Model.IzvjOpisIzvRadova</p>






        </div>

        <div class="row main addp testunder">

            <p><span class="textbold2">Neizvedeni radovi i razlozi:</span> </p>
            <p>@Model.IzvjNeizvedeniRadovi</p>






        </div>

        <div class="row main addp testunder">

            <p><span class="textbold2">Uočeni nedostaci i zapažanja:</span> </p>
            <p>@Model.IzvjUoceniNedostaci</p>






        </div>

        <div class="row main addp testunder">

            <p><span class="textbold2">Napomena:</span> </p>
            <p>@Model.IzvjNapomena</p>






        </div>


        <h4 class="text-center">TROŠKOVI</h4>


        <div class="row main addp testunder">

            <p><span class="textbold2">Radno vrijeme:</span> </p>
            <p>@Model.IzvjRadnoVrijeme</p>






        </div>

        <div class="row main addp testunder">

            <p><span class="textbold2">Prijevoz:</span> </p>
            <p>@Model.IzvjPrijevoz</p>






        </div>

        <div class="row main addp testunder">

            <p><span class="textbold2">Izdatnice broj:</span> </p>
            <p>@Model.IzvjIzdatnice</p>






        </div>

        <div class="row main addp testunder">

            <p><span class="textbold2">Povratnice broj:</span> </p>
            <p>@Model.IzvjPovratnice</p>






        </div>

        <div class="row main addp testunder">

            <p><span class="textbold2">Ostali troškovi:</span> </p>
            <p>@Model.IzvjOstaliTroskovi</p>






        </div>


        <div class="row main addp ">



            <p>

                <span class="textbold2 testunder">Izvještaj podnio:</span> &nbsp; <span class="signature">@Model.IzvjPodnio</span>
            </p>

              <p>  <span class="textbold2 testunder">Izvještaj primio:</span> &nbsp; <span class="signature">@Model.IzvjPrimio</span></p>
           



        </div>


        <div class="row main addp ">

            <span class="textbold2 testunder">Pregledao i evidentirao:</span> &nbsp; <span class="signature">@Model.IzvjPreglEvident</span>






        </div>






    </div>

    <script src="~/js/fontawesome-all.js" type="text/javascript"></script>
    <script src="~/lib/angular/angular.min.js" type="text/javascript"></script>

</body>
</html>
